body{
    margin: 0;
    padding: 0;
}

.title{
    display: flex;
    justify-content: center;
    background-color: rgba(69, 238, 69, 0.555);
    color: black;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}